body {
  background: linear-gradient(to bottom right, palegreen, white);
  background-attachment: fixed;
}

.mid {
  position: absolute;
  top: 8%;
  width: 100%;
  text-align: center;
  font-size: 60px;
}
